* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	
}

/*CSS For Header*/

header{
	height: 110vh;
	background: url(../images/bg.jpg);
	background-size: cover;
	background-position: center;

}

nav {
	height: 75px;
	border-bottom: 2px solid whitesmoke;
	display: flex;
	justify-content: center;
	align-items: center;
	position: sticky;
	top: 0;
	background-color: darkblue;
	background-size: cover;
	background-position: center;
}

nav > ul {
	display: flex;
	list-style-type: none;

}

nav > ul > li {
	margin: 0 20px;
	color: white;
}

/*Styling for all buttons*/

.btn {
	padding: 10px 20px;
	border-radius: 15px;
	border: none;
}

.btn-product{
	background-color: salmon;
	font-size: 15px;
	font-weight: bold;

}

#clickBtn {
	position: absolute;
	right: 100px;
	top: 20px;
	transition: .6s;
}

#clickBtn:hover {
	top: 15px;

}

/*Disappearing Menu CSS*/

.submenu {
	background-color: lightgray;
	width: 80%;
	border-radius: 15px;
	height: 200px;
	display: flex;
	position: absolute;
	left: 10%;
	top: 50px;
	visibility: hidden;
}

.submenu > div {
	width: 25%;

}

/*div + div {
	border-left: 1px solid black;

}*/

.submenu > div > h4, .submenu > div > p {
	margin: 10px 0;
	padding: 0 10px;
}

.submenu > div > p:hover {
	background-color: darkgray;
}

.header-text {
	height: 90vh;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;

}

.header-text > h1 {
	font-size: 60px;
}

.header-text > h1, .header-text > p, .header-text > div > button {
	margin-left: 50px;
}

.header-text > div > .btn {
	margin-top: 20px;
	background-color: navy;
	color: white;
}

#mega-menu:hover > .submenu, #mega-menu > .submenu:hover {
	visibility: visible;
}


/*End CSS for Header*/

/*Start of Quote CSS*/

.quote {
	height: 50vh;
	border-bottom: 1px solid whitesmoke;
	display: flex;
	justify-content: center;
	align-items: center;

}

.quote > div {
	width: 50%;

}

.quote > div > div {
	text-align: center;
	margin-top: 20px;
}


/*End of Quote CSS*/

/* Start of Section 2 Earth*/
.section3 {
	height: 80vh;
	display: flex;
	border-bottom: 1px solid whitesmoke;
	justify-content: flex-end;
	align-items: center;
}

.section3 > section {
	width:50%;
}

.section3-left{
	text-align: right;
}

.section3 img {
	width: 550px;
	height: 300px;
}

.section3-right {
	display: flex;
	align-items: center;
	margin: 0 10px;
}

.section3-right > div {
	height: 300px;
	padding-right: 50px;
}

.section3-right > div > div > p {
	color: gray;
	margin-bottom: 10px;
}

.section3-right > div > div > h3 {
	font-size: 30px;
}

.bottom-content {
	display: flex;
}

.bottom-content > div {
	width: 50%;
}

.bottom-content > div > h1 {
	font-size: 30;
}

.bottom-content > div > h1 > span {
	font-size: 10px;
	position: relative;
	bottom: 8px;
}

.bottom-content > div > p {
	font-size: 10;
	color: gray;
}


/*Section 4*/

.section4 {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.testimonial {
	height: 400px;
	width: 300px;
	border: 1px solid black;
	border-radius: 5px;


}

.testimonial p  {
	margin: 50px;

}

.testimonial img {
	height: 75px;
	width: 75px;
	border-radius: 75%;
	z-index: 10;
	position: relative;
}

.testimonial div {
	text-align: center;
}

.testimonial h4 {
	margin: 10px;

}

.testimonial hr {
	position: relative;
	top: 35px;

}


